@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


.grid {
  margin-right: clamp(10px, 2vw, 20px);
  margin-left: clamp(10px, 2vw, 20px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 2vw, 30px);
  flex: 1;
  overflow-y: auto;
}

.card {
  font-family: Be Vietnam Pro, sans-serif;
  grid-column: span 1;
  grid-row: span 3;
  font-weight: 800;
  background: rgba(145, 183, 174, 0.671);
  grid-template-rows: 80px 1fr;
  height: 100vh;
  margin-top: 25px;
  border-radius: 16px;
}

.cardHeader {
  font-size: clamp(20px, 2vw, 35px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.historyBox {
  flex: 1;
  margin:auto;
  overflow-y: auto;
  border-radius: 15px;
  width: 85%;
  height: 80%;
  scrollbar-width: none;
}

.historyBox::-webkit-scrollbar {
  display: none;
}

.noHistory {
  color: #515354;

}

.historyCard {
  background: rgba(238, 238, 238, 0.342);
  border-radius: 15px;
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 1vh;
  margin-right: 6px;
  padding-right: 8px;
  height: fit-content;
  margin-bottom: 15px;
  cursor: pointer;
}

.historyCard.energy-5{
  border: 1px solid #4db5fa;
  background: rgba(238, 238, 238, 0.596);
  box-shadow: inset 0 0 30px -5px rgb(118, 197, 249);
}

.historyCard.energy-4{
  border: 1px solid #5cf69c;
  background: rgba(238, 238, 238, 0.596);
  box-shadow: inset 0 0 30px -5px rgb(120, 239, 170);
}

.historyCard.energy-3{
  border: 1px solid #F9E79F;
  background: rgba(238, 238, 238, 0.596);
  box-shadow: inset 0 0 30px -5px #F9E79F;
}

.historyCard.energy-2{
  border: 1px solid #f8c36d;
  background: rgba(238, 238, 238, 0.596);
  box-shadow: inset 0 0 30px -5px #fcc66f;
}

.historyCard.energy-1{
  border: 1px solid #d77171;
  background: rgba(238, 238, 238, 0.596);
  box-shadow: inset 0 0 30px -5px #d77171;
}

.historyDay {
  font-size: clamp(8px, 1.2vw, 15px);
  grid-column: span 3;
  grid-row: span 1;

}

.deleteButton {
  grid-column: span 1;
  grid-row: span 1;
  font-size: clamp(8px, 1.2vw, 15px);
}

.historyEmotionIcon {
  font-size: clamp(15px, 2vw, 40px);
  border-radius: 10px;
  margin-bottom: 15px;
  grid-column: span 1;
  grid-row: span 3;
}

.historyNote {
  grid-column: span 3;
  grid-row: span 2;
  font-size: clamp(8px, 1.2vw, 15px);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word; 
  text-overflow: ellipsis;
}

.tags {
  grid-column: span 3;
  grid-row: span 1;
  display: flex;
  flex-wrap: wrap; 
  gap: 5px
}

.tag {
  padding: 0.5vw;
  border-radius: 999px;
  font-size: clamp(8px, 1vw, 15px);
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--bg-color);
  color: var(--text-color);
}

.tagActive {
  backdrop-filter: blur(30px);
  background: var(--bg-color);
  color: var(--text-color);
}

.cardWide {
  margin-top: 25px;
  margin-bottom: 40px;
  border-radius: 16px;
  white-space: pre-line;
  line-height: 1.6;
  height: 100vh;
  font-family: Be Vietnam Pro, sans-serif;
  font-weight: 700;
  grid-column: span 2;
  grid-row: span 3;
  background: rgba(238, 238, 238, 0.666);
  display: grid;
  grid-template-rows: 80px 1fr;
}

.cardWideHeader {
  font-size: clamp(25px, 2vw, 35px);
  border-bottom: 2px solid #9794945e;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  
}

.leaf-wrapper1 {
  position: absolute;
  z-index: 0; 
  opacity: 0.5; 
  width: 170px;
  height: 170px;
  background-size: contain;
  background-image: url("/images/leaves-2-svgrepo-com.svg");
}

.cardWideMainFrame{
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.leaf-wrapper2 {
  position: absolute;
  z-index: 0; 
  opacity: 0.3; 
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url("/images/cactus-svgrepo-com.svg");
}

.leaf-wrapper3 {
  position: absolute;
  z-index: 0; 
  opacity: 0.2; 
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url("/images/leaf-svgrepo-com.svg");
}

.leaf-wrapper4 {
  position: absolute;
  z-index: 0; 
  opacity: 0.3; 
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url("/images/leaf-svgrepo-com2.svg");
}

.top-right {
  top: -68px;
  right: 4px;
  transform: rotate(-134deg);
}

.bottom-left {
  bottom: 0px;
  left: 5px;
  transform: rotate(0deg);
}

.bottom-right1 {
  z-index: 1;
  bottom: 0px;
  right: -60px;
  transform: rotate(0deg);
}

.bottom-right2 {
  bottom: -20px;
  right: 0px;
  transform: rotate(-40deg);
  z-index: 0;
}

.moodList {
  display: flex;
  flex-direction: row; 
  gap: 30px;
  align-items: center;
  flex-wrap: wrap
}

.iconItem { 
  font-size: clamp(30px, 3vw, 35px);
  cursor: pointer;
  padding: 0.6vw;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.iconItem.active {
  background-color: rgba(255, 217, 0, 0.711); 
  border-radius: 50%;
}


.iconItem:hover {
  transform: scale(1.2); 
  background-color: rgba(255, 217, 0, 0.307);
  z-index: 10; 
}

.energySlider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.energyList {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: clamp(10px, 1vw, 15px);
}

.energyItem {
  white-space: nowrap;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.energyItem.active {
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px) scale(1.1);
}

.noteBox {
  width: 90%;
  max-width: 850px;
  height: 140px;
  padding: 1vw;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: clamp(8px, 1.2vw, 15px);
  background: #f0f4f4f3;
  z-index: 3;
}

.saveNoteButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}